*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 68.75%; } }
  @media only screen and (min-width: 150em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  padding-bottom: 2rem; }

.experience {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 20vw; }
  .experience__heading {
    grid-column: 2/3;
    justify-self: center;
    align-self: center; }
    .experience__heading h2 {
      font-size: 7rem; }
      @media only screen and (max-width: 25em) {
        .experience__heading h2 {
          font-size: 5rem; } }
    .experience__heading h3 {
      font-size: 2rem;
      text-align: center;
      line-height: 0; }
  .experience__projects {
    grid-row: 1;
    grid-column: 3/4;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    grid-template-columns: repeat(4, 30rem); }
    @media only screen and (max-width: 75em) {
      .experience__projects {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; } }
    @media only screen and (max-width: 25em) {
      .experience__projects {
        grid-template-columns: 1fr;
        grid-gap: 0; } }
    .experience__projects .project {
      height: 100%;
      width: 100%;
      font-family: hind, sans-serif;
      align-self: center;
      display: grid;
      grid-template-rows: 1fr 1fr 2fr; }
      .experience__projects .project h2 {
        font-size: 2.5rem;
        font-weight: bold;
        padding-left: 3rem;
        transition: all .3s;
        align-self: center; }
      .experience__projects .project p {
        font-size: 1.4rem;
        padding: 0 3rem;
        transition: all .3s; }
      .experience__projects .project svg {
        transition: all .3s; }
      .experience__projects .project:hover {
        cursor: pointer; }
        .experience__projects .project:hover h2, .experience__projects .project:hover p {
          transform: translateY(-2rem); }
        .experience__projects .project:hover svg {
          transform: translateY(-2rem);
          opacity: 0; }
    .experience__projects .project-1,
    .experience__projects .project-3,
    .experience__projects .project-6,
    .experience__projects .project-8 {
      background-color: #fafafa;
      color: #5a5a5a; }
      .experience__projects .project-1__icon,
      .experience__projects .project-3__icon,
      .experience__projects .project-6__icon,
      .experience__projects .project-8__icon {
        fill: #5a5a5a; }
    .experience__projects .project-2,
    .experience__projects .project-4 {
      background-color: #17a2b8;
      color: #fafafa; }
      .experience__projects .project-2__icon,
      .experience__projects .project-4__icon {
        fill: #fafafa; }
    .experience__projects .project-5,
    .experience__projects .project-7 {
      background-color: #5a5a5a;
      color: #17a2b8; }
      .experience__projects .project-5__icon,
      .experience__projects .project-7__icon {
        fill: #17a2b8; }
  .experience__icon {
    padding-top: 2rem;
    padding-left: 3rem; }
    .experience__icon svg {
      height: 4rem;
      width: 4rem; }

.header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center; }
  .header__bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    grid-row: 1/2;
    grid-column: 1/2; }
  .header__headings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/2; }
    .header__headings h1, .header__headings h2, .header__headings hr {
      color: #dbc4c4; }
    .header__headings h1 {
      font-size: 6rem; }
    .header__headings h2 {
      margin-top: -1rem;
      font-size: 3rem; }
    .header__headings hr {
      width: 30%; }
      @media only screen and (max-width: 75em) {
        .header__headings hr {
          width: 50%; } }
  .header__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    grid-row: 1/2;
    grid-column: 1/2; }
    .header__icon-container a {
      padding: 0 3rem; }
      .header__icon-container a svg {
        fill: #dbc4c4;
        height: 3rem;
        width: 3rem; }
        .header__icon-container a svg:hover {
          fill: red;
          animation: pulse 1s infinite; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.15, 1.15, 1.15); }
  to {
    transform: scale3d(1, 1, 1); } }

.intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 20vw; }
  @media only screen and (max-width: 37.5em) {
    .intro {
      grid-template-rows: 1fr 3fr;
      grid-template-columns: 1fr; } }
  .intro__heading {
    grid-column: 2/3;
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 75em) {
      .intro__heading {
        padding-right: 4rem;
        padding-bottom: 7rem; } }
    @media only screen and (max-width: 56.25em) {
      .intro__heading {
        padding-right: 6rem;
        padding-bottom: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .intro__heading {
        grid-row: 1;
        grid-column: unset;
        padding: 3rem 0; } }
    @media only screen and (max-width: 25em) {
      .intro__heading {
        padding-top: 0; } }
    .intro__heading h2 {
      font-size: 7rem; }
      @media only screen and (max-width: 25em) {
        .intro__heading h2 {
          font-size: 5rem; } }
    .intro__heading h3 {
      font-size: 2rem;
      text-align: center;
      line-height: 0; }
  .intro__story {
    color: #5a5a5a;
    grid-row: 1;
    grid-column: 3/4;
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .intro__story {
        grid-row: 2;
        grid-column: unset;
        padding: 0 3rem 3rem 3rem; } }
    @media only screen and (max-width: 25em) {
      .intro__story {
        align-self: start; } }
    .intro__story p {
      font-size: 2rem;
      font-family: hind, sans-serif; }
      @media only screen and (max-width: 25em) {
        .intro__story p {
          font-size: 1.6rem; } }

.nav__items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav__items {
      justify-content: center; } }
  @media only screen and (max-width: 25em) {
    .nav__items {
      justify-content: space-around; } }
  .nav__items li {
    color: white;
    list-style: none;
    font-size: 2rem;
    padding: 0 2rem; }
    @media only screen and (max-width: 25em) {
      .nav__items li {
        font-size: 1.5rem;
        padding: 0 1rem; } }
    .nav__items li a {
      text-decoration: none;
      color: inherit; }
    .nav__items li:hover {
      color: red;
      animation: pulse 1s infinite; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.15, 1.15, 1.15); }
  to {
    transform: scale3d(1, 1, 1); } }

.skills {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10vw 20vw; }
  @media only screen and (max-width: 37.5em) {
    .skills {
      grid-template-rows: 1fr 6fr;
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 25em) {
    .skills {
      grid-template-rows: 1fr 7fr;
      grid-template-columns: 1fr; } }
  .skills__heading {
    padding-top: 15rem;
    grid-row: 1;
    grid-column: 2/3;
    justify-self: center;
    align-self: start; }
    @media only screen and (max-width: 75em) {
      .skills__heading {
        padding-right: 4rem;
        padding-bottom: 7rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills__heading {
        padding-right: 6rem;
        padding-bottom: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__heading {
        align-self: center;
        grid-row: 1;
        grid-column: unset;
        padding: 0; } }
    @media only screen and (max-width: 25em) {
      .skills__heading {
        padding: 0; } }
    .skills__heading h2 {
      font-size: 7rem; }
      @media only screen and (max-width: 25em) {
        .skills__heading h2 {
          font-size: 5rem; } }
    .skills__heading h3 {
      font-size: 2rem;
      text-align: center;
      line-height: 0; }
  .skills__container {
    font-family: hind, sans-serif;
    color: #5a5a5a;
    padding: 0 3rem 5rem 0rem;
    grid-row: 1;
    grid-column: 3/4; }
    @media only screen and (max-width: 37.5em) {
      .skills__container {
        grid-row: 2;
        grid-column: unset;
        padding: 0 3rem 3rem 3rem; } }
    @media only screen and (max-width: 25em) {
      .skills__container {
        align-self: start; } }
    .skills__container h2 {
      padding-top: 3rem;
      margin-top: 3rem;
      font-size: 4rem; }
      @media only screen and (max-width: 37.5em) {
        .skills__container h2 {
          margin-top: 2rem; } }
      @media only screen and (max-width: 25em) {
        .skills__container h2 {
          font-size: 3rem;
          margin-top: 0; } }
    .skills__container h3 {
      padding-top: 2rem;
      margin-bottom: -1rem;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 25em) {
        .skills__container h3 {
          font-size: 1.2rem; } }

.progress {
  height: .8rem; }
  .progress-bar {
    -webkit-transition: none !important;
    transition: none !important; }

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 70vh 50vh max-content 80vh 70vh 20vh;
  grid-template-columns: 100%; }
  @media only screen and (max-width: 37.5em) {
    .main-container {
      grid-template-rows: 70vh max-content max-content 80vh 70vh 20vh; } }

.nav {
  background-color: rgba(0, 0, 0, 0.6);
  height: 7vh;
  width: 100%;
  position: fixed; }

.header {
  background-color: rgba(0, 0, 0, 0.6); }

.intro {
  background-color: #f8f4f4; }

.skills {
  background-color: #fafafa; }

.experience {
  background-color: #f8f4f4; }

.personal {
  background-color: lightcoral;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .personal {
      font-size: 5rem; } }

.footer {
  background-color: #92ce39;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      font-size: 5rem; } }
