// Media Query Manager
// 0px - 400px =     Small Phone
// 0px - 600px =     Phone
// 600px - 900px =   Tablet Portrait
// 900px - 1200px =  Tablet Landscape
// 1200px - 1800px = Normal Styles Apply
// 1800px + =        Big Desktop
// 2400px + =        Huge Desktop

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// 1em = 16px always for media queries.
// rems and ems are not affected by default font size set in html. ems are more performant for media queries.

// ORDER: Base + typography > general layout + grid > page layout > components

// Content is passed in wherever this mixin is used in the form of a code block.

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 25em) { @content }; //400px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content; } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }; //1800+px
  }
  @if $breakpoint == huge-desktop {
    @media only screen and (min-width: 150em) { @content }; //2400+px
  }
}

// only screen says that these media queries should apply ONLY to screen size, not in the instance that someone prints out our web page at these resolutions.
