// COLORS
$color-primary: #fafafa;

$color-text-primary: #5a5a5a;
$color-text-secondary: #17a2b8;
$color-text-tertiary: rgb(255, 255, 255);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
