// COLORS
$color-primary: #f8f4f4;
$color-secondary: #fafafa;

$color-text-primary: #5a5a5a;
$color-text-secondary: #17a2b8;
$color-text-tertiary: rgb(138, 134, 134);

$color-white: #fff;
$color-black: #000;
