.main-container {
  height: 100vh;

  display: grid;
  grid-template-rows: 70vh 50vh max-content max-content max-content 20vh;
  grid-template-columns: 100%;  

  @include respond(phone) {
    grid-template-rows: 70vh max-content max-content max-content max-content 20vh;
  }
}


.nav {
  background-color: rgba($color-black, .2);
  height: 7vh;
  width: 100%;
  position: fixed;

  z-index: 20;
}


.header {
  background-color: rgba($color-black, .6);
}


.intro {
  background-color: $color-primary;
}


.skills {
  background-color: $color-secondary;
}


.experience {
  background-color: $color-primary;
}


.personal {
  background-color: $color-secondary;
}


.footer {
  background-color: rgb(146, 206, 57);
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    font-size: 5rem;
  }
}
