.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 70vh 50vh 100vh 80vh 70vh 20vh;
  grid-template-columns: 100%;  

  @include respond(phone) {
    grid-template-rows: 70vh max-content 100vh 80vh 70vh 20vh;
  }
}


.nav {
  background-color: rgba($color-black, .6);
  height: 7vh;
  width: 100%;
  position: fixed;
}


.header {
  background-color: rgba($color-black, .6);
}


.intro {
  background-color: $color-primary;
}


.skills {
  background-color: $color-text-secondary;
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


.experience {
  background-color: $color-text-primary;
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    font-size: 5rem;
  }
}


.personal {
  background-color: lightcoral;
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    font-size: 5rem;
  }
}


.footer {
  background-color: rgb(146, 206, 57);
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    font-size: 5rem;
  }
}
